@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body,
html {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

@property --per {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 22%;
}

.g-aurora {
    position: relative;
    margin: auto;
    width: 340px;
    height: 180px;
    border: 2px solid #5b595b;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        left: -20px;
        top: -10px;
        right: -20px;
        bottom: -20px;
        background: linear-gradient(
            -30deg,
            #a4d7e0,
            rgba(164, 215, 224, .9) 48%,
            transparent 62%,
        );
        filter: url(#smoke);
    }
}
.right::before {
    background: linear-gradient(
        -30deg,
        #ff0020,
        rgba(229, 23, 49, .9) 48%,
        transparent 62%,
    );
    transform: scaleX(-1);
}

.breathe {
    &::after {
        content: "THESHY";
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #fff;
        font-size: 18px;
    }
    &::before {
        background: linear-gradient(
            -45deg,
            #ff0020,
            rgba(229, 23, 49, .9) var(--per),
            transparent calc(var(--per) + 8%),
        );
        transform: scaleX(-1);
        animation: change 2s infinite ease-out;
    }
}

@keyframes change {
    50% {
        --per: 18%;
    }
}

svg {
    width: 0;
    height: 0;
}

.left img {
    width: 150%;
    height: 150%;
    object-fit: cover;
    object-position: -150px center;
}
.right img {
    width: 120%;
    height: 120%;
    object-fit: cover;
    object-position: -30px center;
}