@import url(https://fonts.googleapis.com/css?family=Lato);
body {
  height: 100vh;
  margin: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f3e7e9), color-stop(99%, #e3eeff), to(#e3eeff));
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.card {
  --card-bg-color: hsl(240, 31%, 25%);
  --card-bg-color-transparent: hsla(240, 31%, 25%, 0.7);
  position: relative;
  width: 300px;
}

.card .card-borders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card .card-borders .border-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background: var(--card-bg-color);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: slide-in-horizontal 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
          animation: slide-in-horizontal 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

.card .card-borders .border-right {
  position: absolute;
  right: 0;
  width: 2px;
  height: 100%;
  background: var(--card-bg-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: slide-in-vertical 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
          animation: slide-in-vertical 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

.card .card-borders .border-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--card-bg-color);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: slide-in-horizontal-reverse 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
          animation: slide-in-horizontal-reverse 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

.card .card-borders .border-left {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background: var(--card-bg-color);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: slide-in-vertical-reverse 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
          animation: slide-in-vertical-reverse 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

.card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 40px 0;
  font-family: Lato, sans-serif;
  background: var(--card-bg-color-transparent);
  -webkit-box-shadow: 0 0px 0.6px rgba(0, 0, 0, 0.028), 0 0px 1.3px rgba(0, 0, 0, 0.04), 0 0px 2.5px rgba(0, 0, 0, 0.05), 0 0px 4.5px rgba(0, 0, 0, 0.06), 0 0px 8.4px rgba(0, 0, 0, 0.072), 0 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 0.6px rgba(0, 0, 0, 0.028), 0 0px 1.3px rgba(0, 0, 0, 0.04), 0 0px 2.5px rgba(0, 0, 0, 0.05), 0 0px 4.5px rgba(0, 0, 0, 0.06), 0 0px 8.4px rgba(0, 0, 0, 0.072), 0 0px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-animation: bump-in 0.5s 0.8s forwards;
          animation: bump-in 0.5s 0.8s forwards;
}

.card .card-content .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 40px;
  opacity: 0;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-animation: bump-in 0.5s 1s forwards;
          animation: bump-in 0.5s 1s forwards;
}

.card .card-content .username {
  position: relative;
  font-size: 26px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: transparent;
  -webkit-animation: fill-text-white 1.2s 2s forwards;
          animation: fill-text-white 1.2s 2s forwards;
}

.card .card-content .username::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  background: #35b9f1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: slide-in-out 1.2s 1.2s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: slide-in-out 1.2s 1.2s cubic-bezier(0.75, 0, 0, 1) forwards;
}

.card .card-content .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-content .social-icons .social-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.5em;
  height: 2.5em;
  margin: 0 15px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.card .card-content .social-icons .social-icon:nth-child(1)::before {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.card .card-content .social-icons .social-icon:nth-child(1)::after {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.card .card-content .social-icons .social-icon:nth-child(1) svg {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.card .card-content .social-icons .social-icon:nth-child(2)::before {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.card .card-content .social-icons .social-icon:nth-child(2)::after {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.card .card-content .social-icons .social-icon:nth-child(2) svg {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.card .card-content .social-icons .social-icon:nth-child(3)::before {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.card .card-content .social-icons .social-icon:nth-child(3)::after {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.card .card-content .social-icons .social-icon:nth-child(3) svg {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.card .card-content .social-icons .social-icon::before, .card .card-content .social-icons .social-icon::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.card .card-content .social-icons .social-icon::before {
  background: #f7f1e3;
  -webkit-animation: scale-in 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: scale-in 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
}

.card .card-content .social-icons .social-icon::after {
  background: #2C3E50;
  -webkit-animation: scale-in 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: scale-in 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
}

.card .card-content .social-icons .social-icon svg {
  z-index: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: scale-in 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
          animation: scale-in 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
}

@-webkit-keyframes bump-in {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bump-in {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes slide-in-horizontal {
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes slide-in-horizontal {
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes slide-in-horizontal-reverse {
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide-in-horizontal-reverse {
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-in-vertical {
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes slide-in-vertical {
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes slide-in-vertical-reverse {
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes slide-in-vertical-reverse {
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes slide-in-out {
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes slide-in-out {
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@-webkit-keyframes fill-text-white {
  to {
    color: white;
  }
}

@keyframes fill-text-white {
  to {
    color: white;
  }
}

@-webkit-keyframes scale-in {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-in {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */