body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0;
    background: #e9b59f;
}

.container {
    height: 100vh;
    position: relative;
    animation: h-bound 3s infinite linear;
}

.bound {
    background: #2d97db;
    border: 1em solid #fff;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    position: absolute;
    top: calc(50% - 16em);
    left: calc(50% - 30em);
    opacity: 1;
}

.container .bound {
    animation: v-bound 3s infinite;
}

@keyframes h-bound {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(48em);
    }
}

@keyframes v-bound {
    0% {
        opacity: 0.4;
    }
    2%, 15% {
        opacity: 1;
        transform: translateY(0em);
        animation-timing-function: ease-in;
    }

    15%, 30% {
        opacity: 1;
        transform: translateY(20em);
        animation-timing-function: ease-out;
    }

    30%, 45% {
        opacity: 1;
        transform:  translateY(6em);
        animation-timing-function: ease-in;
    }

    45%, 60% {
        opacity: 1;
        transform: translateY(20em);
        animation-timing-function: ease-out;
    }

    60%, 75% {
        opacity: 1;
        transform: translateY(12em);
        animation-timing-function: ease-in;
    }

    75%, 85% {
        opacity: 1;
        transform:  translateY(20em);
        animation-timing-function: ease-out;
    }

    85%, 92% {
        opacity: 1;
        transform:  translateY(18em);
        animation-timing-function: ease-in;
    }

    92%, 100% {
        opacity: 0;
        transform:  translateY(20em);
        animation-timing-function: ease-out;
    }
}