body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0;
    background: #e9b59f;
}


.eleven .shape {
    background: none;
    border: none;
    perspective: 400px;
    perspective-origin: center;  /* 定义观察者到3D图形的视角 */
}

.eleven .shape .container {
    animation: eleven 4s infinite cubic-bezier(.6, -0.44, .37, 1.44);
    transform-style: preserve-3d;
}

.eleven .shape span {
    display: block;
    position: absolute;
    opacity: 1;
    width: 4em;
    height: 4em;
    left: 0;
    top: 0;
    border: 1em solid #fff;
    background: #2d97db;
}

.eleven .shape span.front {
    transform: translateZ(3em);
}

.eleven .shape span.back {
    transform: translateZ(-3em);
}

.eleven .shape span.left {
    transform: rotateY(-90deg) translateZ(3em);  /* 沿着y轴逆时针转动后，旋转参考的坐标系也发生转动，这时 z轴朝左，x轴朝外，y轴朝下 */
}

.eleven .shape span.right {
    transform: rotateY(-90deg) translateZ(-3em);
}

.eleven .shape span.top {
    transform: rotateX(-90deg) translateZ(-3em);
}

.eleven .shape span.bottom {
    transform: rotateX(-90deg) translateZ(3em);
}

@keyframes eleven {
    0% {
        opacity: 0;
    }

    10%, 40% {
        transform: none;
        opacity: 1;
    }

    60%, 75% {
        transform: rotateX(-20deg) rotateY(-45deg) translateY(4em);
        animation-timing-function: cubic-bezier(1, -0.05, .43, -0.16);
        opacity: 1;
    }

    100% {
        transform: translateZ(-180em) translateX(20em);
        opacity: 0;
    }
}

.principle {
    width: 100%;
    height: 100vh;
    position: relative;
}

.shape {
    background: #2d97db;
    border: 1em solid #fff;
    width: 4em;
    height: 4em;
    position: absolute;
    top: calc(50% - 2em);
    left: calc(50% - 2em);
}