body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0;
    background: #e9b59f;
}

.sevenb .shape.a {
    animation: sevenb 3s infinite linear;
    top: calc(50% - 2em);
    left: calc(50% - 9em);
    transform-origin: 10em 50%;
}

.sevenb .shape.b {
    animation: sevenb 6s infinite linear reverse;
    background: yellow;
    width: 2em;
    height: 2em;
    left: calc(50% - 1em);
    top: calc(50% - 1em);
}

@keyframes sevenb {
    100% {
        transform: rotateZ(360deg);
    }
}




.principle {
    width: 100%;
    height: 100vh;
    position: relative;
}

.shape {
    background: #2d97db;
    border: 1em solid #fff;
    width: 4em;
    height: 4em;
    position: absolute;
    top: calc(50% - 2em);
    left: calc(50% - 2em);
    opacity: 1;
}