body {
    display: flex;
    height: 50vh;
    width: 100vw;
    margin: 0px;
}

.wrap {
    width: 100%;
}
.left {
    float: left;
    
    min-height: 100px;
    width: 200px;
    background-color: lightcoral;
}

.right {
    float: right;

    min-height: 100px;
    width: 100px;
    background-color: lightgoldenrodyellow;
}

.middle {
    margin-left: 200px;
    margin-right: 100px;

    background-color: lightblue;
    & img {
        width: 200px;
    }
}
